<%= page_header %>

<%= simple_form_for(resource, :as => resource_name, :url => password_path(resource_name), :html => { :method => :post }) do |f| %>
  <div class="form-inputs">
    <%= f.input :email, :required => true, :autofocus => true %>
  </div>

  <div class="form-actions">
    <%= f.button :submit, t('.submit'), data: { disable_with: t('common.please_wait') } %>
  </div>
<% end %>

<div>
  <div><%= link_to t('auth.sign_up'), new_user_registration_path %></div>
  <div><%= link_to t('auth.sign_in'), new_user_session_path %></div>
</div>
