<div class="navbar navbar-inverse" id='header'>

  <div class="navbar-inner">
    <%= link_to t('.brand'), root_path, class: 'brand' %>

    <ul class='nav'>
      <li class='<%= current_page?(root_path) ? 'active' : '' %>'> <%= link_to icon_label('icon-home', t('.root')), root_path %> </li>

      <%- if user_signed_in? %>
        <li> <%= link_to icon_label('icon-plus', t('posts.new')), root_path, id: 'new-post' %> </li>
      <% else %>
        <li> <%= link_to icon_label('icon-plus', t('posts.new')), new_user_session_path, id: 'new-post-auth-required' %> </li>
      <% end %>
    </ul>

    <ul class='nav pull-right'>
      <%- if user_signed_in? %>
        <li class="dropdown">
          <%= link_to t('.dropdown_toggler', name: current_user.name).html_safe, nil, id: 'user-dropdown-toggler' %>
          <ul class="dropdown-menu" id='user-dropdown-options'>
            <li><%= link_to icon_label('icon-edit', t('auth.edit')), edit_user_registration_path %></li>
            <li><%= link_to icon_label('icon-user', t('.me')), user_path(current_user) %></li>
            <li><%= link_to icon_label('icon-signout', t('auth.sign_out')), destroy_user_session_path, method: 'delete' %></li>
          </ul>
        </li>
      <% else %>
        <li><%= link_to t('auth.sign_up'), new_user_registration_path, id: 'sign-up' %></li>
        <li><%= link_to t('auth.sign_in'), new_user_session_path, id: 'sign-in' %></li>
      <% end %>
    </ul>
  </div>

</div>
