<!DOCTYPE html>
<html>
<head>
  <title><%= t 'title' %></title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>

<body id='<%= controller_path.dasherize.gsub('/', '-') %>' data-action='<%= action_name.dasherize %>'>

<div id='wrapper'>
  <%= render 'header'        %>
  <%= render 'notifications' %>

  <div class='container' id='content'>
    <%= yield %>

    <div id='loader' class='hidden'> <%= image_tag 'loader.gif' %> </div>
    <div id='backdrop' class='modal-backdrop hidden'> </div>

    <div id='push'></div>
  </div>
</div>

<script type="text/javascript" src="//vk.com/js/api/openapi.js?88"></script>

<%= render 'sign_in_modal' unless user_signed_in? %>
<%= render 'footer' %>

</body>

</html>
